h1 {
	text-align:center;
	font-family: fantasy; 
	background-color:white; 
	color: red;
}

h2 {
	font-family: times;
	color: red;
}
nav {
	background: #black;
	text-align: center;
	font-family: Georgia;
	font-style: oblique;
	color:white;

}

li {
	color: red;
	float: center;
	border-bottom: 1px solid #555;
}

li a {
		display: block;
		color: red;
		text-align: center;
		padding: 10px 14px;
		text-decoration: none; ;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #black;
}

a {
	color: red;
	text-decoration: none;
}

ul {
	position: fixed;

	border: 1px solid #555;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
}

body {
	background-color: white;

}

img {
	display:block;
	margin: 0 auto;
	opacity: 0.4
	filter:alpha (opacity=40);
}

img: hover {
	opacity: 1.0;
	filter: alpha (opacity=100);

}